.bg-primary {
    background-color: #6e2e0b !important;
}
.text-success{
    color: #f0db9d !important;
}
.text-primary{
    color:  #6e2e0b !important;
}
.text-secondary{
    color: #6e2e0b !important;
}
.bg-success{
    background-color: #f0db9d !important;
}
