
/*GENERAL*/
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FCF8EE;
    color: #371706;
}
h1 {
    font-weight: bold;
    color : white;
}

a {
    color : inherit;
}
header {
    height: 233px;
    background-color: #371706;
}

/*HEADER */

.text-success{
    color: #f0db9d !important;
}
.cart-pill2 {
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top : 2px;
    font-size: 1.3rem;
    background: url('https://api.iconify.design/bxs/cart-alt.svg?color=%23f0db9d&width=40&height=40') no-repeat center center / contain;

}

.cart-pill2:hover {
    background-color: #371706;
}
.cart-pill2 a:hover{
    color: #FCF8EE;
}



/*HOMEPAGE*/
.cart-pill {
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top : 2px;
    font-size: 1.3rem;
    background: url('https://api.iconify.design/bxs/cart-add.svg?color=%23fcf8ee&width=20&height=20') no-repeat center center  #8D4317  ;
    border: none;
}

.cart-pill:hover {
    background-color: #371706;
}
.cart-pill a:hover{
    color: #FCF8EE;
}

/*COLORS*/

/* Backgrounds*/

.bg-success{
    background-color: #f0db9d !important;
}


.bg-primary {
    background-color: #371706 !important;
}

.bg-secondary {
    background-color: #8D4317 !important;
}

.btn-primary {
    background-color: #371706 !important;
}

#product-add-btn {
    font-weight: bold;
    background: url('https://api.iconify.design/bxs/cart-add.svg?color=%23fcf8ee&width=20&height=20') no-repeat 5px center  #8D4317  ;
    width: 200px;
}

#product-add-btn:hover {
    background-color: #371706;
}

/* Texts */
.text-light {
    color : #FCF8EE;
}
.text-success{
    color: #f0db9d !important;
}
.text-primary{
    color:  #6e2e0b !important;
}
.text-secondary{
    color: #6e2e0b !important;
}